*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.main {
  display: flex;
  padding: 40px;
}

.text {
  width: 50%;
}

.text h2 {
  font-size: 32px;
}

.text p {
  color: gray;
}

.text button {
  padding: 10px 20px;
  background: #458ff6;
  color: white;
  border: none;
  border-radius: 20px;
}

.image {
  width: 50%;
  text-align: center;
}

.img-box {
  width: 300px;
  height: 250px;
  background: #ddd;
  line-height: 250px;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.blue {
  background: #5a9bff;
  color: white;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #458ff6;
  background: white;
}
.card:hover{
    box-shadow: 0 0 15px gray;
    cursor:pointer;
    transition: 1.2s;
}