* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
}

.header {
  background: #222;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.logo {
  font-weight: bold;
  border: 1px solid white;
  padding: 5px 10px;
}

.title {
  text-align: center;
  padding: 60px 20px;
}

.title h1 {
  font-size: 36px;
}
.cards {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
}

.card {
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h3 {
  margin: 15px 0 8px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.footer {
  background: #222;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}
.card{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
    transition: 1.2s;
}
.card img{
    width: 100%;
    transition: 1.1s;
}
.card-body{
    padding: 0 20px;
}
.card:hover{
    box-shadow: 0 0 15px gray;
    cursor:pointer;
    transition: 1.2s;
}
.card h3:hover{
    color: red;
    transition: 1.2s;
}
.card:hover img {
    transform: scale(1.1);
    transition: 1.1s;
}